[Unit]
Description=MikroTik ROS Prometheus Exporter
Wants=network-online.target
After=network-online.target

[Service]
User=ros-exporter
Group=ros-exporter
Type=simple
Restart=on-failure
RestartSec=5s
ExecStart=/usr/local/bin/ros-exporter --web.listen-address=:9483 --web.telemetry-path=/metrics --scrape.timeout=10s

# Security settings (optional but recommended)
# PrivateTmp=true
# ProtectSystem=full
# NoNewPrivileges=true
# ProtectHome=true

[Install]
WantedBy=multi-user.target